.title {
  color: var(--app-type-background);
  font-size: 1.5rem;
  font-weight: 100;
  margin-block: 1rem;
  transform: scaleY(1.05) scaleX(.9);
  margin-block: .5rem;
}

.adds_section {
  z-index: 20;
  width: 100%;
}

.add_text {
  margin-block: -5px;
  display: flex;
  width: 108%;
  align-items: center;
  text-align: start;
  justify-content: flex-start;
}

.ice_or_cigar_sliders {
  width: 100%;
  z-index: 15;
}


@media (width>=520px) and (height<=680px) {
  .adds_section {
    margin-block-end: 4rem;
  }
}

@media (width>=520px) and (height<=630px) {
  .add_text {
    margin-block: -15px;
  }
}