.cart_container {
  padding-block-start: 1.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  margin: 0 auto;
  width: 80%;
}

.golden_line {
  height: 0.3rem;
  width: 100%;
  background-color: var(--app-type-background);
  box-shadow: 1px 1px 20px #dfdeded0;
}

.title {
  color: var(--app-type-background);
  font-size: 1.5rem;
  font-weight: 100;
  margin-block: 1rem;
  transform: scaleY(1.05) scaleX(.9);
  margin-block: .5rem;
}

@media (width>=520px) and (height<=630px) {
  .cart_container {
    padding-block-start: .5rem;
  }
}