.delivery_cost_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: .6rem;
  justify-content: stretch;
  margin-block-end: 2.5rem;
  padding-block-start: 0.6rem;
  width: 100%;
  z-index: 100;
}

@media (height<=680px) {
  .delivery_cost_container {
    gap: .4rem;
    margin-block-end: 1.8rem;
  }
}

@media (height<=710px) {
  .delivery_cost_container {
    margin-block-end: 2rem;
    gap: .5rem;
    padding-block-start: 0.2rem;
  }
}