.delivery_cost_container {
  padding-block-start: 0.6rem;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  margin-block-end: 1rem;
}

@media (width>=520px) and (height<=680px) {
  .delivery_cost_container {
    position: relative;
    top: -4rem;
  }
}

@media (height<=710px) {
  .delivery_cost_container {
    padding-block-start: 0.2rem;
  }
}