.app_background {
  align-items: center;
  background-color: var(--app-white-text);
  box-shadow: rgba(149, 157, 165, 0.3) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  justify-content: space-around;
  padding-block-start: 3rem;
  position: absolute;
  width: 100vw;
  z-index: 1;
}

@media (min-width: 520px) {
  .app_background {
    height: 90vh;
    width: 520px
  }
}