.helsinki_logo {
  bottom: -166px;
  margin-inline: auto;
  position: absolute;
  width: 100%;
  z-index: 0;
}


@media (width>=425px) {
  .helsinki_logo {
    transform: scale(1.3);
  }
}

@media (height<=700px) {
  .helsinki_logo {
    transform: scale(1);
  }
}