.summary_item {
  align-items: flex-end;
  border-bottom: 1px solid var(--app-payments-green);
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  justify-content: space-between;
  line-height: 1.5rem;
  width: 100%;
  gap: .5rem;
}

.name {
  display: grid;
  flex: 1 0 60%;
  justify-content: start;
  letter-spacing: 1px;
  text-align: start;
  text-wrap: balance;
  text-wrap: pretty;
}

.sign {
  font-size: 1.3rem;
}

.quantity {
  flex: 0 1 20%;
}

.total {
  flex: 1 0 20%;
  text-align: end;
}