.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  transition: all 250ms ease-in;
}

.form_container_loading {
  animation: loading-state 350ms ease-in forwards;
}

.form_header {
  width: 100%;
  height: 3rem;
  display: grid;
  place-content: center;
}

.form_header>h3 {
  font-size: 1.9rem;
}

.form_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.client_input {
  backdrop-filter: blur(15px);
  border-radius: 12px;
  margin-block: 1rem;
}

.client_input>input {
  font-size: 1.3rem;
  height: 3rem;
  border-radius: 12px;
  width: 22rem;
  padding-inline: 0.5rem;
}

.client_input>label>p {
  font-size: 1.5rem;
  font-weight: 600;
  padding-block-end: .2rem;
}

.detail {
  font-size: 1.1rem;
  position: absolute;
  right: 0;
  padding: .8rem;
  background-color: var(--app-type-background);
  border-radius: 8px;
  animation: detail-out 250ms ease-in-out;

}

.detail>summary {
  font-weight: 600;
}

.detail:hover {
  cursor: pointer;
}

.textarea {
  padding: .5rem;
  width: 90%;
  right: 0;
  margin-inline: auto;
  border-radius: 12px;
  resize: none;
}

.detail[open] {
  position: absolute;
  margin-inline: auto;
  z-index: 100;
  backdrop-filter: blur(15px);
  animation: detail-in 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.name_input {
  margin-block-end: .5rem;
}

.address_input {
  margin-block-end: 3rem;
}

.phone_input {
  transition: all 250ms ease-in;
}

.phone_input_under {
  transition: all 250ms ease-in;
  padding-block-start: 2rem;
  z-index: -1;
}

.receipt_input {
  padding-block: 1.2rem;
  margin-block-end: .5rem;
}

.form_file_upload {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form_footer {
  width: 100%;
  height: 5rem;
  z-index: 100;
  position: relative;
}

.loading_logo_wrapper {
  position: absolute;
  left: 33%;
  bottom: 1rem;
}

.submit_button {
  border: 2px solid white;
  font-size: 1.5rem;
  font-weight: 600;
  background-color: var(--app-payments-green);
  color: white;
  padding: .6rem;
  border-radius: 12px;
}

.submit_button:hover {
  cursor: pointer;
}

.submit_button:disabled {
  background: transparent;
  border: 2px solid #aaa;
  color: #888
}

.invalid_input_message {
  color: red;
  position: absolute;
  bottom: 6px;
  left: 10px;
  font-weight: 600;
  z-index: 100;
}

@keyframes detail-in {
  0% {
    opacity: 0;
    height: 1rem;

  }

  100% {
    height: 100%;
    opacity: 1;
  }
}

@keyframes detail-out {
  0% {
    height: 100%;
  }

  100% {
    height: 3rem;
  }
}

.SVGLogo {
  animation: viking-skeleton 600ms ease-out infinite alternate;
}

@keyframes viking-skeleton {
  0% {
    opacity: .1;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loading-state {
  100% {
    background-color: var(--app-payments-green);
    opacity: .7;
  }
}