.form_dialog_container {
  /* place-content: center; */
  align-content: stretch;
  animation: dialog-out 350ms ease-in-out;
  backdrop-filter: blur(8px) saturate(60%);
  background-color: rgba(229, 241, 232, 0.641);
  border-radius: 12px;
  border: 2px solid rgba(255, 255, 255, 0.125);
  display: grid;
  margin-inline: auto;
  overflow: hidden;
  position: absolute;
  transition: all 250ms linear;
  visibility: hidden;
  display: none;
}

.form_dialog_container::backdrop {
  backdrop-filter: blur(1px) saturate(110%) brightness(60%);
}

.form_dialog_container[open] {
  visibility: visible;
  display: block;
  animation: dialog-in 250ms ease-in-out;
}


@media (width >=520px) {
  .form_dialog_container {
    top: 10rem;
    width: 30rem;
    height: 45rem;
    max-height: 70%;
  }
}

@media (width <520px) {
  .form_dialog_container {
    top: 5rem;
    width: 80%;
    height: clamp(40%, 50rem, 80%);
  }
}

.dialog_main {
  position: relative;
  height: 90%;
  padding-block-start: 1rem;
}

.button_container {
  align-items: self-start;
  background-color: var(--app-type-background);
  display: grid;
  height: 15%;
  margin-block-start: 1rem;
  width: 100%;
  border-radius: 12px;
}

.back_button {
  border: transparent;
  font-size: 1.3rem;
  background-color: var(--app-type-background);
  padding: 1rem;
  border-radius: 12px;
  margin-inline-start: -25%;
  width: 150%
}

.back_button:active {
  opacity: .7;
}

.back_button:hover {
  cursor: pointer;
}

@keyframes dialog-in {
  0% {
    opacity: 0;
    display: none;
    transform: translateY(50%) scale(.5, .5)
  }

  100% {
    transform: translateY(0) scale(1, 1);
    opacity: 1;
    display: block;
  }
}

@keyframes dialog-out {
  0% {
    transform: translateY(5%);
    display: block;

  }

  100% {
    display: none;

    transform: translateY(-100%);
  }
}