.form_footer {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  margin-block-start: .5rem;
  width: 100%;
}

.back_button_wrapper {
  align-items: center;
  background-color: var(--app-red-background);
  border-radius: 14px;
  border: 2px solid #ddd;
  box-shadow: 1px 1px 15px #555;
  display: flex;
  flex: 1 0 50%;
  height: 100%;
  justify-content: space-between;
  padding-block: 1rem;
  padding-inline-start: 1rem;
}

.back_button_input {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 100;
  font-size: 1.7rem;
  padding-inline-end: 1rem;
  font-family: var(--font-unica);
}

.back_button_triangle svg {
  margin-block-start: .25rem;
  transform: rotate(-90deg);
}

.back_button_wrapper:active {
  opacity: .9;
}

.back_button_input:hover,
.back_button_wrapper:hover {
  cursor: pointer;
}

@media (width <=400px) {

  .back_button_wrapper {
    padding-block: .6rem;
  }

  .back_button_input {
    padding-inline-end: .8rem
  }
}


@media (height<=780px) {

  .back_button_wrapper {
    padding-block: .6rem;
  }

  .back_button_input {
    padding-inline-end: .8rem
  }
}