.go_to_form_button {
  background-color: var(--app-payments-green);
  border-radius: 12px;
  border: 2px solid white;
  color: white;
  display: grid;
  height: 100%;
  place-content: center;
  padding-inline: .5rem;
  width: 7rem;
}

.go_to_form_button[disabled] {
  opacity: .7;
  color: #fff;
  border: 2px solid #aaa;
}

.triangle_button svg {
  transform: rotate(90deg)
}

.go_to_form_action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.go_to_form_action:hover {
  cursor: pointer;
}

.go_to_form_button .text {
  font-size: 1.8rem;
  flex: 1 0 80%;
  text-align: start;
  padding-inline-start: 1rem;
  line-height: 1.7rem;
}

.triangle_button {
  padding-block-start: .5rem;
  flex: 1 0 25%;
}

@media (width <=400px) {
  .go_to_form_button .text {
    font-size: 1.6rem;
  }
}