.name_input {
  margin-block-end: .5rem;
  width: 100%;
  position: relative;
}

.input_label {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: start;
  padding-inline-start: 1.1rem;
  margin-block-end: .6rem;
  letter-spacing: 1.5px;
}

.invalid_input_message {
  color: red;
  position: absolute;
  font-size: .9rem;
  top: 115%;
  left: 10px;
  font-weight: 600;
  z-index: 100;
}

@media (width<=415px) {

  .input_label {
    font-size: 1.2rem;
  }

  .invalid_input_message {
    font-size: .8rem;
  }
}


@media (height<=700px) {
  .name_input {
    margin-block-end: 1.2rem;

  }

  .input_label {
    font-size: 1.2rem;
    margin-block-end: .2rem;
  }

  .invalid_input_message {
    font-size: .8rem;
    top: 105%;
  }
}