.pay_method_footer {
  display: grid;
  place-content: center;
  min-height: 2.5rem;
  flex: 1 1 10%;
  padding: .5rem;
  margin-block-end: .5rem;
}

.buttons_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: .5rem;
}

.share_button_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 2rem;
  margin-inline: .5rem;
}

.share_icon {
  flex: 1 1 10%;
  margin-inline-end: .1rem;
}

.share_icon>svg {
  max-width: 2rem;
  max-height: 1.8rem;
}

.share_button {
  height: 100%;
  flex: 1 1 90%;
  padding-inline: .5rem;
  padding-block: .3rem;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 10px;
  font-size: .7rem;
  transition: all 250ms ease;
}

.share_button:hover,
.share_icon:hover {
  cursor: pointer
}

.share_button:active {
  border: 3px solid var(--app-payments-green);
}