.cart_list_container {
  height: 11.3rem;
  margin-block: 0.5rem;
  margin-inline: -1rem;
  overflow-y: scroll;
  padding: 0.5rem;
  position: relative;
  width: 110%;
  z-index: 6;
}

@media (width<=425px) {
  .cart_list_container {
    width: 118%;
  }
}

.cart_list_container::-webkit-scrollbar {
  display: none;
}

.gray_background {
  background-color: var(--app-backgound-gray);
  box-shadow: -10px 1px 20px #dfdede;
  top: 0;
  right: 0rem;
  width: 82%;
  position: absolute;
}

.product_list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-inline: auto;
}