.product_item {
  display: flex;
  align-items: center;
  position: relative;
  margin-block: 0.2rem;
}

.product_background {
  flex: 2 1 90%;
  display: inline-flex;
  padding-inline-start: .8rem;
  background-color: white;
  border-radius: 12px;
  height: 4.3rem;
  align-items: center;
}

.product_image {
  position: relative;
  z-index: 15;
  left: 1rem;
  border-radius: 50%;
  overflow: hidden;
}

.product_image img {
  position: relative;
  transform: scale(2);
  bottom: 25px;
  right: 14px;
}

.product_image svg {
  position: relative;
  transform: scale(1.5);
  right: 15px;
  top: 10px;
}

.image_mask {
  position: relative;
  overflow: hidden;
  width: 6.5rem;
  margin-inline-end: 0.7rem;
  height: 5rem;
}

.product_name {
  text-wrap: balance;
  flex: 2 0 18%;
}

.product_price {
  padding-inline-end: 1rem;
}

.product_select_quantity {
  flex: 1 2 10%;
}

@media (width<=415px) {

  .product_background {
    width: 105%;
    padding-inline-start: .9rem;
    height: 4rem;
  }

  .product_image img {
    transform: scale(1.6);
  }

  .image_mask {
    width: 5.5rem;
    height: 4rem;
  }

  .product_image {
    left: 1.2rem;
  }


  .product_image svg {
    right: 15px;
    top: 0;
  }
}