.clear_cart_button {
  background-color: white;
  border-radius: 12px;
  border: 1px solid white;
  color: var(--app-footer-color);
  display: grid;
  grid-template-columns: 20% 65%;
  height: 100%;
  line-height: .8rem;
  padding-block: .8rem;
  padding-inline-start: 3%;
  place-content: center;
  width: 6rem;
}

.clear_cart_button:hover {
  cursor: pointer;
}

.trash_cube {
  margin-inline-start: -1.2rem;
}

.trash_cube {
  transform: scale(.9);
}

.text {
  font-size: 0.8rem;
  font-weight: 600;
  margin-block: auto;
  transform: scale(1.3, 1.2);
  margin-inline-start: 0.3rem;
  text-align: start;
}