.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  transition: all 350ms ease-in;
}

.form_container_loading {
  transition: all 350ms ease-in;
  opacity: 0;
  animation: loading-state 350ms ease-in forwards;
}

.form_container_success {
  transition: all 350ms ease-in;
  opacity: 0;
  animation: success-state 1s linear forwards;
}

.form_header {
  width: 100%;
  height: 3rem;
  display: grid;
  place-content: center;
}

.form_header>h3 {
  font-size: 1.9rem;
}

.form_main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.client_input {
  backdrop-filter: blur(15px);
  border-radius: 12px;
  margin-block: 1rem;
}

.client_input>input {
  font-size: 1.3rem;
  height: 3rem;
  border-radius: 12px;
  width: 22rem;
  padding-inline: 0.5rem;
}

.client_input>label>p {
  font-size: 1.5rem;
  font-weight: 600;
  padding-block-end: .2rem;
}

.processing_texts_wrapper {
  color: #000;
}

@keyframes loading-state {
  100% {
    background-color: var(--app-type-background);
    opacity: .9;
    border: 2px solid black;
    border-radius: 12px;
    width: 80%;
    margin-inline: auto;
  }
}

@keyframes success-state {
  100% {
    background-color: var(--app-payments-green);
    opacity: .7;
    border: 2px solid white;
    border-radius: 12px;
    width: 80%;
    margin-inline: auto;
  }
}