.form_header {
  width: 110%;
  height: 3rem;
  display: grid;
  place-content: center;
}

.form_title {
  margin-block-start: 1rem;
  font-size: 1.4rem;
  color: var(--app-red-background);
  text-wrap: nowrap;
}

@media (width<=465px) {
  .form_header {
    height: 2.4rem;
  }

  h3.form_title {
    font-size: 1.2rem;
  }
}


@media (width<=445px) {
  h3.form_title {
    margin-block-start: .3rem;
    margin-block-end: .5rem;
  }
}

@media (width<=405px) {
  h3.form_title {
    margin-block-start: .2rem;
  }
}

@media (height<=780px) {
  .form_title {
    font-size: 1.3rem;
  }
}