.form_dialog_container {
  animation: dialog-out 350ms ease-in forwards;
  background-color: white;
  border-radius: 22px;
  border: 2px solid rgba(255, 255, 255, 0.125);
  margin-inline: auto;
  overflow: hidden;
  position: absolute;
  transition: all 250ms ease-in-out;
  visibility: hidden;
  padding: 1rem;
}

.form_dialog_container::backdrop {
  backdrop-filter: blur(1px) saturate(120%) brightness(65%);
}

.form_dialog_container[open] {
  visibility: visible;
  animation: dialog-in 250ms ease-in-out forwards;
}

@media (width>=520px) {
  .form_dialog_container {
    top: 10rem;
    width: 30rem;
    height: 45rem;
    max-height: 70%;
  }
}

@media (width<520px) {
  .form_dialog_container {
    top: 5rem;
    width: 85%;
    height: clamp(40%, 50rem, 85%);
  }
}

@keyframes dialog-in {
  0% {
    display: none;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}

@keyframes dialog-out {
  0% {
    display: block;
  }

  100% {
    display: none;
    transform: translateY(-100%);
  }
}

.red_line {
  background-color: var(--app-red-background);
  border-radius: 10px;
  width: 95%;
  height: 5px;
}

@media (width>=520px) and (height<=780px) {
  .form_dialog_container {
    top: 3rem;
    min-width: 35rem;
    width: 50%;
    max-width: 35rem;
    max-height: 90%;
  }
}


@media (width>=520px) and (height<=700px) {
  .form_dialog_container {
    min-width: 35rem;
    max-width: 30rem;
    max-height: 90%;
  }
}