.button_menu {
  background-color: transparent;
  border: transparent;
}

.button_menu:hover {
  cursor: pointer;
}

.icon_menu {
  position: relative;
  right: 8px;
  top: 2px;
  transform: scale(2.3, 1.8);
}