.zones_dialog_container {
  /* background: no-repeat url('../../public/assets/SantaFeMap.png'); */
  backdrop-filter: blur(8px) saturate(200%);
  -webkit-backdrop-filter: blur(8px) saturate(200%);
  background-color: rgb(154, 0, 0, 0.70);
  box-shadow: rgba(47, 48, 49, 0.5) 0px 8px 24px;
  box-shadow: rgba(47, 48, 49, 1) 0px -8px -24px;
  border-radius: 25px;
  border: 1px solid var(--app-type-background);
  height: fit-content;
  padding-block: 1rem;
  left: 0;
  top: 30%;
  margin-inline: auto;
  overflow: hidden;
  padding-inline: 1rem;
  position: absolute;
  visibility: hidden;
  display: none;
  min-width: 22rem;
}

.zones_dialog_container::backdrop {
  backdrop-filter: grayscale(10%) blur(16px) brightness(40%);
  opacity: .6;
}

.zones_dialog_container[open] {
  visibility: visible;
  display: grid;
  place-content: center;
  animation: dialog-in 200ms ease-in-out;
}

@media (width >=520px) {
  .zones_dialog_container {
    width: 30rem;
  }
}

.dialog_content {
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  padding-block: .5rem;
}

@media (width <=480px) {
  .dialog_content {
    width: 90%;
  }
}

.attention {
  font-weight: 600;
  display: block;
  transform: scale(1.5. 1);
  letter-spacing: 3px;
  color: var(--app-white-text);
}

.prompt {
  text-align: start;
  padding-inline-start: 1rem;
  display: grid;
  place-content: center;
  text-wrap: balance;
  font-weight: 100;
  transform: scale(1, 1.3);
  line-height: 1.5rem;
  font-size: 1.5rem;
  margin-block-end: 1rem;
  color: var(--app-type-background);
  border-radius: 12px;
}

.buttons_section {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.see_zones {
  border-radius: 14px;
  border: 1px solid #999;
  background-color: var(--app-white-text);
  width: 50%;
  padding: 1rem;
  font-size: 1rem;
  color: var(--app-black-text);
  display: grid;
  place-content: center;
  box-shadow: gray 1px 2px 5px;
  height: 3rem;
}

.see_zones:hover {
  cursor: pointer
}

.see_zones:active {
  color: var(--app-payments-green);
  transform: scale(1.1);
  border: 1px solid var(--app-payments-green);
}

.continue_buying_button {
  border-radius: 14px;
  font-size: 1rem;
  border: transparent;
  background-color: var(--app-white-text);
  width: 50%;
  padding: 1rem;
  color: var(--app-black-text);
  box-shadow: gray 1px 2px 5px;
  display: grid;
  place-content: center;
  height: 3rem;
}

.continue_buying_button:hover {
  cursor: pointer;
}

@keyframes dialog-in {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}