.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.header {
  flex: 1 1 10%;
  display: grid;
  place-content: center;
}

.title {
  font-size: 2rem;
}

.subtitle {
  text-wrap: balance;
  font-weight: 600;
  font-size: 1.5rem;
  margin-block: .5rem;
}

.tel {
  font-size: 1.2rem;
}

.mail {
  font-size: 1.2rem;
}

.whats_app_icon {
  position: relative;
  top: 2px;
  margin-inline-start: 1rem;
}

.whats_app_icon:hover {
  cursor: pointer
}

.discharge {
  font-size: 1.2rem;
  line-height: 1.5rem;
  display: grid;
  place-content: center;
  flex: 1 1 25%;
  width: 80%;
  margin-inline: auto;
  text-wrap: balance;
}

@media (width<=400px) {
  .title {
    font-size: 1.5rem;
  }

  .subtitle {
    margin-block: 1rem;
    font-size: 1.2rem;
  }
}

@media (height<=700px) {
  .discharge {
    font-size: 1rem;
    line-height: 1.2rem;
  }
}