.breadcrumb {
  color: var(--app-type-background);
  flex: 1;
  font-size: 1.5rem;
  font-weight: 100;
  margin-block: 1rem;
  transform: scaleY(1.05) scaleX(.9);
}

.breadcrumb_link:hover {
  cursor: pointer;
}