.footer_container {
  margin-block-start: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 107%;
  height: 3.5rem;
  z-index: 20;
}


@media (width>=520px) and (height<=680px) {
  .footer_container {
    position: relative;
    top: -5rem;
    height: 3rem;
  }
}