.payment_button {
  color: white;
  background-color: var(--app-payments-green);
  border: 1px solid white;
  display: grid;
  height: 100%;
  place-content: center;
  border-radius: 12px;
  width: 7rem;
}

.triangle_button svg {
  transform: rotate(90deg)
}

.payment_button>a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text {
  margin-inline-start: 0.2rem;
  flex: 1 0 2rem;
}

.triangle_button {
  margin-inline: 0.2rem;
  flex: 0 0 1rem;
}