.total_amount_wrapper {
  background-color: white;
  border-radius: 12px;
  border: 1px solid white;
  display: grid;
  height: 100%;
  line-height: 1rem;
  padding-block: 0.8rem;
  padding-inline: 1rem;
  place-content: center;
}

.text {
  font-size: 1rem;
  font-weight: 600;
  width: 105%;
  margin-block-end: .2rem;
}

@media (width <=425px) {
  .text {
    font-size: .9rem;
  }

  .total_amount_wrapper {
    padding-inline: .35rem;
  }
}

.amount {
  font-size: 1.8rem;
  font-weight: 900;
  margin-block-start: .4rem;
}