.total_amount_wrapper {
  background-color: white;
  border-radius: 12px;
  border: 1px solid white;
  display: grid;
  height: 100%;
  line-height: 1rem;
  padding-block: 0.8rem;
  padding-inline: .5rem;
  place-content: center;
}

.text {
  font-size: 1rem;
  font-weight: 600;
  width: 105%;
}

@media (width <=405px) {
  .text {
    font-size: .9rem;
  }

  .total_amount_wrapper {
    padding-inline: .35rem;
  }
}

.mount {
  font-size: 1.5rem;
  font-weight: 600;
  margin-block: .4rem;
}