.detail_card_footer {
  background-color: var(--app-type-background);
  border-radius: 0 0 14px 14px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 6rem;
  place-content: center;
  position: relative;
}

.detail_card_footer_generic_text {
  background-color: var(--app-type-background);
  height: 5rem;
  border-radius: 0 0 14px 14px;
  display: grid;
  place-content: center;
}

.action {
  display: grid;
  place-content: center;
  padding: 1rem;
}

.generic_action_text {
  padding: 3rem;
}



@media (width<=420px) {
  .detail_card_footer {
    height: 4.8rem;
  }

  .action {
    padding: .5rem;
  }
}

@media (height<=700px) {
  .detail_card_footer {
    height: 4.8rem;
  }

  .action {
    padding: .5rem;
  }
}