.card {
  background-color: white;
  box-shadow: 1px 1px 20px #666;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  height: 90%;
  z-index: 20;
}

.card_body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  flex: 1 1 80%;
}

.product_name {
  display: grid;
  place-content: center;
  flex: 1 0 10%;
  background-color: var(--app-type-background);
  border-radius: 14px 14px 0 0;
  padding-block: 0.5rem;
  letter-spacing: .13rem;
  font-weight: 100;
}

.product_image {
  object-fit: cover;
  overflow: hidden;
  height: 100%;
  display: grid;
  place-content: center;
}

.product_image>img {
  width: 100%;
  height: auto;
  transform: scale(3);
  position: relative;
}

.product_image>svg {
  transform: scale(.5);
}

@media (min-width: 360px) {
  .product_image>img {
    transform: scale(2.5);
  }
}