.product_data {
  display: flex;
  flex-direction: column;
  padding: .5rem;
}

.product_description {
  flex: 2 0 80%;
}

.product_description>p {
  font-size: 1.1rem;
  line-height: 1.2;
  padding: 1rem;
}

.destillery_text,
.alcohol_text {
  font-weight: bold;
  font-size: 1.2rem;
}

.destillery_var,
.alcohol_var {
  font-weight: normal;
  margin-inline-start: .2rem;
}

@media (max-width: 360px) {
  .product_description>p {
    padding: .3rem;
  }
}

.cart_section {
  margin-block-end: 3rem;
  flex: 0 1 20%;
}