.product_list_client_container {
  padding-block-start: 1rem;
}

.product_list_client_slider {
  margin-block-end: auto;
  align-items: center;
  display: flex;
  gap: .5rem;
  height: 35rem;
  justify-content: center;
  overflow-x: hidden;
  padding-inline: .8rem;
}

@media (width >=350px) {
  .product_list_client_container {
    padding-block-start: 5rem;
  }
}

@media (height<=655px) {
  .product_list_client_slider {
    height: 31rem;
  }
}

@media (width>=520px) and (height<=785px) {
  .product_list_client_slider {
    height: 31rem;
  }
}