.option {
  background-color: white;
  border-radius: 12px;
  min-height: 4.5rem;
  padding: .3rem 1rem;
  width: 100%;
}

.list_item {
  align-items: center;
  border-bottom: 1px solid black;
  color: var(--app-black-text);
  display: flex;
  justify-content: space-between;
  min-height: 3rem;
}

.day {
  border-bottom: 1px solid transparent;
}

.list_item:hover>.day {
  opacity: .8;
  border-bottom: 1px solid black;
}