.list_container {
  display: grid;
  place-content: center;
  align-items: center;
  width: 90%;
  margin-inline: auto
}

.link_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 10;
}