.list_container {
  display: grid;
  place-content: center;
  align-items: center;
  width: 90%;
  margin-inline: auto;
  min-height: 16rem;
}

.link_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 10;
}